## Liste - introduction
Capacités attendues

- Générer une liste (en extension ou par ajouts successifs).
- Manipuler des éléments d’une liste (ajouter, supprimer...) et leurs indices.
- Parcourir une liste.
- Itérer sur les éléments d’une liste.

### 1 - Création simple d'une liste et Accès aux valeurs d'une liste
Une liste est une séquence modifiable. Un élément d’une liste peut être de n’importe quel type. 

Les différents éléments de la liste sont accessibles grâce à leur position. 

**Attention** - Si la liste s'appelle ***```L```*** :
- le ***premier élément*** est à la position 0 : on l'appelle avec l'instruction ***```L[0]```***, 
- le ***deuxième élément*** est à la position 1 : on l'appelle avec l'instruction ***```L[1]```***,
- le ***troisième élément*** à la position 2 : on l'appelle avec l'instruction ***```L[2]```***,
- etc...

**Autre partcularité** : 
- le ***dernier élément*** d'une liste est accessible à la position **``-1``**
- l'***avant-dernier élément*** d'une liste est accessible à la position **``-2``**
- etc...

On peut accéder à la **longueur de la liste** (le nombre d'éléments contenus dans la liste) à l'aide de la fonction **```len```** en prenant pour argument une liste.

#### Exemples de création de liste

In [ ]:
# Créer une liste vide :
L = []
L

In [ ]:
# Créer une liste contenant 3 entiers
L = [6,1,69]
L

In [ ]:
# Créer une liste contenant 6 éléments de types différents
# Le premier élément est une liste : on a donc une liste contenue dans une liste
liste = [L,7,11,67,"Marie",18.2]
liste

#### Exemple d'accès à un élément d'une liste

In [ ]:
# Accès au premier élément de L : L[0]
L[0]

In [ ]:
# Accès au dernier élément de la liste : liste[-1]
liste[-1]

**ATTENTION !!!** : 

Si on cherche à accéder à une position qui n'existe pas, Python enverra un signal d'erreur de type ```list index out of range```. C'est une erreur très courante dans les programmes. Il faut savoir l'identifier !

In [ ]:
# Les 3 valeurs ci-dessous sont au position '0', '1' et '2'
# Aucune valeur n'est en position 3
liste_avec_3_elements = ["toto", "titi", "tata"]
liste_avec_3_elements[3]

### 2 - Modifier une liste

**Modification d'un élément**

Il est possible de modifier directement les éléments présents dans la liste par une simple nouvelle affectation :

In [ ]:
# Modifier la valeur d'une liste 
# L[2] 
L[2] = 1969
L

**Ajouter une valeur à la fin d'une liste**

Il est possible d'ajouter une valeur en fin de liste à l'aide de la méthode ```.append()```.

In [ ]:
L = ["Benjamin","Alain"]
L.append("Yves")
L

** Supprimer une valeur à la fin d'une liste**

Il est possible de supprimer une valeur en fin de liste à l'aide de la méthode ```.pop()```.

In [ ]:
valeur = L.pop()
L

### 3 - Premières opérations sur les listes

#### Addition de listes <=> Concaténation deux listes entre elles 

Le symbole "```+```" entre deux listes permet de les concaténer l'une à l'autre

In [ ]:
a = [1,2,3]
b = a + [4,5]
b

In [ ]:
liste = [0,1,2] + ["Marie","Mylène"] + [67,72]
liste

#### Multiplication d'une liste par un entier

L'utilisation du symbole "```*```" entre une liste et un nombre entier consiste à concaténer la liste un certain nombre de fois avec elle-même.

In [ ]:
[1,2,3] * 3

In [ ]:
[1,2] * 3

In [ ]:
2*["Pile","Face"]

In [ ]:
liste = [0] * 10
liste

#### Calculer le maximum/minimum des valeurs d'une liste
Dans la cadre des statistiques par exemple, la fonction ```max()``` (respectivement ```min()```) peut permettre de calculer aisément le plus grand (respectivement petit) élément d'une liste :

In [ ]:
L = [0, 1, 6, 7, 8, 9, 10, 11, 12, 5, 6, 7, 8, 9, 10]
max(L)

In [ ]:
min(L)

### 4 - Premiers parcours de liste à l'aide de la boucle ```for```
#### Parcours 1
On peut parcourir une liste à l'aide de ses indices : on parcourt la liste en utilisant une boucle ```for``` avec un compteur ```i``` qui va de ```0``` à ```len(liste)-1```.
##### Affichage des éléments d'une liste

In [ ]:
for i in range(len(L)):
    print(L[i])

#### Parcours 2 
On peut directement itérer sur une liste : cela signifie qu'on peut parcourir une liste en utilisant une boucle ```for``` avec pour simple syntaxe : 

```for element in liste :```

##### Affichage des éléments d'une liste

In [ ]:
for k in [1,2,3]:
    print(k)

#### Création d'une liste

In [ ]:
liste = []
for k in range(10):
    liste.append(k)
liste

#### Calcul sur les élements d'une liste
Dans le cadre de l'étude d'une suite, on est parfois amené à calculer la somme des valeurs de cette suite. L'exmple ci-dessous permet de créer les 10 premiers terme d'une suite définie avec une fonction explicite puis de calculer la somme de ses 10 premiers termes

In [ ]:
# définition de la fonction expliciate
def f(n):
    return 2*n - 3

# Calcule des termes de la suite et création de la liste `suite`
suite = []
for k in range(10):
    suite.append(f(k))


# Calcul de la somme des termes de la liste
somme = 0
for element in suite:
    somme = somme + element
somme

## TP : Suite de Syracuse
Sources : Barbazo 1ère, 2019, p. 25

On appelle suite de Syracuse une suite $(U_n)$ d’entiers naturels définie de la manière suivante : 
- le 1er terme $U_0$ est un entier naturel non nul que l’on choisit initialement
- pour tout entier naturel n :
    - si n est pair $U_{n+1} = \frac{U_n}{2}$;
    - sinon $U_{n+1} = 3U_n +1 $

La conjecture de Syracuse s’énonce ainsi : <br>
"Quel que soit l'entier naturel non nul $U_0$, le nombre $1$ est atteint par la suite $(U_n)$"

On appelle temps de vol de la suite l’indice du premier terme de la suite qui vaut 1.<br>
On appelle altitude du vol de la suite la valeur du plus grand terme de la suite.

In [ ]:
def Syracuse(u) :
    if u%2 == 0 :
        u = u//2
    else :
        u = 3*u + 1
    return(u)

def Liste_Syracuse(u) :
    L=[u]
    while u! = 1 :
        L.append(Syracuse(u))
        u=Syracuse(u)
    return L

**Répondre aux questions suivantes**

1) Quel nombre est renvoyé par <b>Syracuse(6)</b> ? Par <b>Syracuse(7)</b> ?

2) A quel test correspond "u%2==0" ?

3) Quelle est le rôle de la fonction <b>Syracuse()</b> ?

4) Que renvoie <b>Liste_Syracuse(14)</b> écrite dans la console ?

5) Que fait l’instruction <b>L.append(Syracuse(u))</b> ?

Pour connaître la longueur d’une liste, on utilise la fonction $len$ (voir ci-dessus). <br>
Pour connaître la plus grande valeur d’une liste, il existe la fonction $max$. 

7) Ecrire deux fonctions 
- la première retourne l’altitude du vol d’une suite de Syracuse. 
- la deuxième retourne le temps de vol d’une suite de Syracuse.

8) Ecrire deux programmes :
- le premier retournera la plus petite valeur $U_0$ permettant d’avoir une altitude supérieur à $100$
- le deuxième retournera la valeur $U_0$ de l’intervalle $[1;100]$ ayant le vol le plus long.