# Correction

## Exercice 1

In [ ]:
def surface():
    annees = 0
    aire = 230
    while aire >= 15 :
        annees = annees + 1
        aire = aire / 2
    return annees, aire

## Exercice 2

In [12]:
def cube(n):
    return n**3

def prem():
    k = 1
    while cube(k) <= 120 :
        k = k + 1
    return cube(k), k

## Exercice 3

In [ ]:
def nbr(cible):
    prix = 230000
    annees = 0
    while prix <= cible :
        prix = prix * 1.03
        annees = annees + 1
    return prix, annees