In [3]:
from math import *
def f(x):
  return log(x)

In [ ]:
print('f(2)=',f(2))

In [5]:
def rectangle(x,L):
  return L*f(x)

In [ ]:
print('rectangle(2,1)=',rectangle(2,1))

In [7]:
def integ1(a,b,n):
  h=...
  s=0
  for i in range(n):
    s=s+...
    a=a+h
  return s

In [ ]:
print('somme des aires bleues',integ1(2,6,4))

In [ ]:
def integ2(a,b,n):
  h=...
  s=0
  for i in range(n):
    s=s+...
    a=a+h
  return s

In [ ]:
print(integ1(2,6,…))'< intégrale <',integ2(2,6,…))